<div class="main-header">
  <div class="main-header-room-name">techroom1</div>
  <div class="main-header-room-end"><a href="#">チャットを終了する</a></div>
</div>


<div class="main-chat">

  <div class="user-message">
    <div class="user-message1">
      <div class="chat-username">Tom</div>
      <div class="chat-date">2020/3/31(Wed) 12:43:20</div>
    </div>
    <div class="user-message2">
      <div class="chat-message">おはよう</div>
    </div>
  </div>

  <div class="user-message">
    <div class="user-message1">
      <div class="chat-username">Sin</div>
      <div class="chat-date">2020/3/31(Wed) 12:43:20</div>
    </div>
    <div class="user-message2">
      <div class="chat-message">おはよう</div>
    </div>
  </div>

</div>


<div class="main-form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>