<div class="user-message">

  <div class="user-message1">

    <div class="chat-username">
      <%= message.user.name %>
    </div>

    <div class="chat-date">
      <%= l message.created_at %>
    </div>

  </div>

  <div class="user-message2">

    <div class="chat-message">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>