<div class="side-header">
  <div class="side-header-username">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side-header-room-create"><%= link_to "チャットを作成する", new_room_path %></div>
</div>

<div class="side-content">
  <div class="room">
    <% current_user.rooms.each do |room| %>
    <div class="room-name">
      <%= link_to room.name, room_messages_path(room) %>
    </div>
    <% end %>
  </div>
</div>